[submodule "includes/ppg-core"]
	path = vendor/ppg-core
	url = https://github.com/dAmihl/ppg-core.git
[submodule "includes/thirdparty/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
